<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>ngInfiniteScroll - Demo - Infinite Scrolling for AngularJS</title>

  <link href="stylesheets/application.css?1361516856" media="screen" rel="stylesheet" type="text/css" />
  <script src="javascripts/application.js?1361516846" type="text/javascript"></script>
</head>
<body ng-app='infiniteScrollSite'>

  <div class='contain-to-grid'>
    <nav class='top-bar'>
      <ul>
        <li class='name'><h1><a href='index.html'><img src="images/tiny-inverted.png?1361513595" /> ngInfiniteScroll</a></h1></li>
        <li class='toggle-topbar'><a href='#'></a></li>
      </ul>
      <section>
        <ul class='left'>
          <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
          <li><a href='demo.html'>Demo</a></li>
          <li><a href='documentation.html'>Documentation</a></li>
          <li><a href='about.html'>About</a></li>
        </ul>
        <ul class='right'>
          <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class='row'>
  <div class='twelve columns'>
    <h3>Demo</h3>
    <p>
      A demo like the one shown here can be constructed easily with the following HTML and JavaScript:
    </p>

    <pre ng-non-bindable class='panel demo radius'>
&lt;div ng-controller='DemoController'>
  &lt;div infinite-scroll='loadMore()' infinite-scroll-disabled='!enabled' infinite-scroll-distance='2'>
    &lt;img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
  &lt;/div>
&lt;/div></pre>

    <pre ng-non-bindable class='panel demo radius'>
app.controller('DemoController', function($scope) {
  $scope.images = [1, 2, 3, 4, 5, 6, 7, 8];

  $scope.loadMore = function() {
    var last = $scope.images[$scope.images.length - 1];
    for(var i = 1; i <= 8; i++) {
      $scope.images.push(last + i);
    }
  };
});</pre>

    <p>
      For more details and instructions, please see <a href='documentation.html'>the documentation</a>.
    </p>

    <hr>
  </div>
</div>

<div class='row' ng-controller='DemoController'>
  <div class='twelve columns'>
    <h3>Scroll! Scroll like the wind!</h3>

    <button ng-click='enabled = !enabled'>Enable/Disable Infinite Scroll</button>
    Infinite scrolling is currently:
    <span ng-show='enabled'>Enabled</span>
    <span ng-hide='enabled'>Disabled</span>

    <ul infinite-scroll='loadMore()' infinite-scroll-disabled='!enabled' infinite-scroll-distance='1' class='demo-container block-grid four-up'>
      <li ng-repeat='item in items' class='demo-block'>
        <div>{{item}}</div>
      </li>
    </ul>
  </div>
</div>


  <div class='row'>
    <div class='twelve columns'>
      <hr>
    </div>
  </div>

  <div class='row'>
    <div class='four columns footer'>
      <p>
        Copyright &copy; 2012 Brandon Tilley
      </p>
    </div>
    <div class='eight columns footer'>
      <ul class='inline-list footer-links'>
        <li><a href='index.html'>Home</a></li>
        <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
        <li><a href='demo.html'>Demo</a></li>
        <li><a href='documentation.html'>Documentation</a></li>
        <li><a href='about.html'>About</a></li>
        <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
      </ul>
    </div>
  </div>

  <div id='download-modal' class='reveal-modal medium' ng-controller='DownloadsController'>
    <a class="close-reveal-modal">&#215;</a>

    <dl class='tabs'>
      <dd class='active'><a href='#download'>Download Source</a></dd>
      <dd><a href='#bower'>Install with Bower</a></dd>
    </dl>

    <ul class='tabs-content'>
      <li id='bowerTab'>
        <h1>Install with Bower</h1>

        <div class='row'>
          <div class='twelve columns' ng-hide="selectedVersion == 'master'">
            <p>If you use
            <a href='http://twitter.github.com/bower/'>Bower</a> to manage your
            client-side packages, you can use it to install ngInfiniteScroll.
            To install, simply run:
            </p>
            <pre>bower install ngInfiniteScroll#{{selectedVersion}}</pre>
          </div>
          <div class='twelve columns' ng-show="selectedVersion == 'master'">
            <p>Bower cannot be used to install ngInfiniteScroll for the development head;
              please select another version to install with Bower.</p>
          </div>
        </div>
      </li>

      <li class='active' id='downloadTab'>
        <h1>Download <small> {{selectedVersion}}</small> <small ng-show='versionIsUnstable(selectedVersion)'>(unstable)</small></h1>

        <div class='row'>
          <div class='six columns'>
            <h3 class='subheader'>Production</h3>
            <div ng-hide='selectedVersion == "master"'>
              <p class='subtext'>Download the finished JavaScript, minified or unminified</p>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.min.js' class='button radius'>minified</a>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.js' class='button radius secondary'>unminified</a>
            </div>
            <div ng-show='selectedVersion == "master"'>
              <p class='subtext'>Production assets are not available for download for the development head</p>
            </div>
          </div>

          <div class='six columns'>
            <h3 class='subheader'>Development</h3>
            <p class='subtext'>Download the entire development source for {{selectedVersion}}</p>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.tar.gz' class='button radius'>.tar.gz</a>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.zip' class='button radius secondary'>.zip</a>
            <p class='github'>or <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/tree/{{selectedVersion}}'>view {{selectedVersion}} on GitHub</a></p>
          </div>
        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='twelve columns'>
        <p>
          Select a different version:
          <select class='version-select' ng-model='selectedVersion'
                  ng-options='versionLabel(version) for version in versions'></select>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
