<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>ngInfiniteScroll - Demo - Loading Remote Data - Infinite Scrolling for AngularJS</title>

  <link href="stylesheets/application.css?1375125404" media="screen" rel="stylesheet" type="text/css" />
  <script src="javascripts/application.js?1375125400" type="text/javascript"></script>
</head>
<body ng-app='infiniteScrollSite'>

  <div class='contain-to-grid'>
    <nav class='top-bar'>
      <ul>
        <li class='name'><h1><a href='index.html'><img src="images/tiny-inverted.png?1361649002" /> ngInfiniteScroll</a></h1></li>
        <li class='toggle-topbar'><a href='#'></a></li>
      </ul>
      <section>
        <ul class='left'>
          <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
          <li><a href='demos.html'>Demos</a></li>
          <li><a href='documentation.html'>Documentation</a></li>
          <li><a href='faq.html'>FAQ</a></li>
        </ul>
        <ul class='right'>
          <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class='row'>
  <div class='twelve columns'>
    <h3>Demo - Loading Remote Data</h3>
    <p><a href='demos.html'>Back to All Demos</a></p>
    <p>
      This demo uses the <code>$http</code> service to load data from the Reddit API as the page scrolls. While an Ajax request is pending, the directive is disabled so it doesn't trigger multiple simultaneous calls to the API.
    </p>
    <p class='panel radius callout'>
      <strong>Important Note:</strong> This demo hits the Reddit API, and if you're familiar with Reddit, you know that I cannot guarantee that all the items and outbound links are safe for work. <strong>You have been warned!</strong>
    </p>

<div ng-non-bindable>
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">ng-app=</span><span class="s">&#39;myApp&#39;</span> <span class="na">ng-controller=</span><span class="s">&#39;DemoController&#39;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">infinite-scroll=</span><span class="s">&#39;reddit.nextPage()&#39;</span> <span class="na">infinite-scroll-disabled=</span><span class="s">&#39;reddit.busy&#39;</span> <span class="na">infinite-scroll-distance=</span><span class="s">&#39;1&#39;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">ng-repeat=</span><span class="s">&#39;item in reddit.items&#39;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&#39;score&#39;</span><span class="nt">&gt;</span>{{item.score}}<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&#39;title&#39;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">ng-href=</span><span class="s">&#39;{{item.url}}&#39;</span> <span class="na">target=</span><span class="s">&#39;_blank&#39;</span><span class="nt">&gt;</span>{{item.title}}<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;small&gt;</span>by {{item.author}} -
        <span class="nt">&lt;a</span> <span class="na">ng-href=</span><span class="s">&#39;http://reddit.com{{item.permalink}}&#39;</span> <span class="na">target=</span><span class="s">&#39;_blank&#39;</span><span class="nt">&gt;</span>{{item.num_comments}} comments<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/small&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">style=</span><span class="s">&#39;clear: both;&#39;</span><span class="nt">&gt;&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&#39;reddit.busy&#39;</span><span class="nt">&gt;</span>Loading data...<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div></div>

<div ng-non-bindable>
<div class="highlight"><pre><span class="kd">var</span> <span class="nx">myApp</span> <span class="o">=</span> <span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">&#39;myApp&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;infinite-scroll&#39;</span><span class="p">]);</span>

<span class="nx">myApp</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">&#39;DemoController&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">Reddit</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">reddit</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Reddit</span><span class="p">();</span>
<span class="p">});</span>

<span class="c1">// Reddit constructor function to encapsulate HTTP and pagination logic</span>
<span class="nx">myApp</span><span class="p">.</span><span class="nx">factory</span><span class="p">(</span><span class="s1">&#39;Reddit&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$http</span><span class="p">)</span> <span class="p">{</span>
  <span class="kd">var</span> <span class="nx">Reddit</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">items</span> <span class="o">=</span> <span class="p">[];</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">busy</span> <span class="o">=</span> <span class="kc">false</span><span class="p">;</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">after</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span><span class="p">;</span>
  <span class="p">};</span>

  <span class="nx">Reddit</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">nextPage</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">busy</span><span class="p">)</span> <span class="k">return</span><span class="p">;</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">busy</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>

    <span class="kd">var</span> <span class="nx">url</span> <span class="o">=</span> <span class="s2">&quot;https://api.reddit.com/hot?after=&quot;</span> <span class="o">+</span> <span class="k">this</span><span class="p">.</span><span class="nx">after</span> <span class="o">+</span> <span class="s2">&quot;&amp;jsonp=JSON_CALLBACK&quot;</span><span class="p">;</span>
    <span class="nx">$http</span><span class="p">.</span><span class="nx">jsonp</span><span class="p">(</span><span class="nx">url</span><span class="p">).</span><span class="nx">success</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span>
      <span class="kd">var</span> <span class="nx">items</span> <span class="o">=</span> <span class="nx">data</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">children</span><span class="p">;</span>
      <span class="k">for</span> <span class="p">(</span><span class="kd">var</span> <span class="nx">i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="nx">i</span> <span class="o">&lt;</span> <span class="nx">items</span><span class="p">.</span><span class="nx">length</span><span class="p">;</span> <span class="nx">i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">this</span><span class="p">.</span><span class="nx">items</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">items</span><span class="p">[</span><span class="nx">i</span><span class="p">].</span><span class="nx">data</span><span class="p">);</span>
      <span class="p">}</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">after</span> <span class="o">=</span> <span class="s2">&quot;t3_&quot;</span> <span class="o">+</span> <span class="k">this</span><span class="p">.</span><span class="nx">items</span><span class="p">[</span><span class="k">this</span><span class="p">.</span><span class="nx">items</span><span class="p">.</span><span class="nx">length</span> <span class="o">-</span> <span class="mi">1</span><span class="p">].</span><span class="nx">id</span><span class="p">;</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">busy</span> <span class="o">=</span> <span class="kc">false</span><span class="p">;</span>
    <span class="p">}.</span><span class="nx">bind</span><span class="p">(</span><span class="k">this</span><span class="p">));</span>
  <span class="p">};</span>

  <span class="k">return</span> <span class="nx">Reddit</span><span class="p">;</span>
<span class="p">});</span>
</pre></div></div>

    <p>
      For more details and instructions, please see <a href='documentation.html'>the documentation</a>.
    </p>

    <hr>
  </div>
</div>

<div class='row demo-remote' ng-controller='RemoteDemoController'>
  <div class='twelve columns'>
    <h3>Scroll Down to Load More Data</h3>

    <div infinite-scroll='nextPage()' infinite-scroll-disabled='paused()' infinite-scroll-distance='1' class='demo-container'>
      <div ng-repeat='item in reddit.items' class='item'>
        <span class='score'>{{item.score}}</span>
        <span class='title'><a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a></span>
        <small>by {{item.author}} - <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a></small>
        <div style="clear: both;"></div>
      </div>
      <div ng-show="reddit.busy">Loading data...</div>
      <div ng-show='reddit.items.length >= 1000'>In order to be friendly to the Reddit API, this demo is capped at 1000 items.</div>
    </div>
  </div>
</div>


  <div class='row'>
    <div class='twelve columns'>
      <hr>
    </div>
  </div>

  <div class='row'>
    <div class='four columns footer'>
      <p>
        Copyright &copy; 2012 Brandon Tilley
      </p>
    </div>
    <div class='eight columns footer'>
      <ul class='inline-list footer-links'>
        <li><a href='index.html'>Home</a></li>
        <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
        <li><a href='demos.html'>Demos</a></li>
        <li><a href='documentation.html'>Documentation</a></li>
        <li><a href='faq.html'>FAQ</a></li>
        <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
      </ul>
    </div>
  </div>

  <div id='download-modal' class='reveal-modal medium' ng-controller='DownloadsController'>
    <a class="close-reveal-modal">&#215;</a>

    <dl class='tabs'>
      <dd class='active'><a href='#download'>Download Source</a></dd>
      <dd><a href='#bower'>Install with Bower</a></dd>
    </dl>

    <ul class='tabs-content'>
      <li id='bowerTab'>
        <h1>Install with Bower</h1>

        <div class='row'>
          <div class='twelve columns' ng-hide="selectedVersion == 'master'">
            <p>If you use
            <a href='http://twitter.github.com/bower/'>Bower</a> to manage your
            client-side packages, you can use it to install ngInfiniteScroll.
            To install, simply run:
            </p>
            <pre>bower install ngInfiniteScroll#{{selectedVersion}}</pre>
          </div>
          <div class='twelve columns' ng-show="selectedVersion == 'master'">
            <p>Bower cannot be used to install ngInfiniteScroll for the development head;
              please select another version to install with Bower.</p>
          </div>
        </div>
      </li>

      <li class='active' id='downloadTab'>
        <h1>Download <small> {{selectedVersion}}</small> <small ng-show='versionIsUnstable(selectedVersion)'>(unstable)</small></h1>

        <div class='row'>
          <div class='six columns'>
            <h3 class='subheader'>Production</h3>
            <div ng-hide='selectedVersion == "master"'>
              <p class='subtext'>Download the finished JavaScript, minified or unminified</p>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.min.js' class='button radius'>minified</a>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.js' class='button radius secondary'>unminified</a>
            </div>
            <div ng-show='selectedVersion == "master"'>
              <p class='subtext'>Production assets are not available for download for the development head</p>
            </div>
          </div>

          <div class='six columns'>
            <h3 class='subheader'>Development</h3>
            <p class='subtext'>Download the entire development source for {{selectedVersion}}</p>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.tar.gz' class='button radius'>.tar.gz</a>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.zip' class='button radius secondary'>.zip</a>
            <p class='github'>or <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/tree/{{selectedVersion}}'>view {{selectedVersion}} on GitHub</a></p>
          </div>
        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='twelve columns'>
        <p>
          Select a different version:
          <select class='version-select' ng-model='selectedVersion'
                  ng-options='versionLabel(version) for version in versions'></select>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
