<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>ngInfiniteScroll - Documentation - Infinite Scrolling for AngularJS</title>

  <link href="stylesheets/application.css?1375125404" media="screen" rel="stylesheet" type="text/css" />
  <script src="javascripts/application.js?1375125400" type="text/javascript"></script>
</head>
<body ng-app='infiniteScrollSite'>

  <div class='contain-to-grid'>
    <nav class='top-bar'>
      <ul>
        <li class='name'><h1><a href='index.html'><img src="images/tiny-inverted.png?1361649002" /> ngInfiniteScroll</a></h1></li>
        <li class='toggle-topbar'><a href='#'></a></li>
      </ul>
      <section>
        <ul class='left'>
          <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
          <li><a href='demos.html'>Demos</a></li>
          <li><a href='documentation.html'>Documentation</a></li>
          <li><a href='faq.html'>FAQ</a></li>
        </ul>
        <ul class='right'>
          <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class='row'>
  <div class='twelve columns'>
    <h3>Documentation</h3>
    <h4><code>infiniteScroll</code> (directive in module <code>infinite-scroll</code>)</h4>

    <h5>Description</h5>
    <p>infiniteScroll allows you to specify behavior when the bottom of an element nears the bottom of the browser window.</p>

    <h5>Usage</h5>
<div class='highlight'>
<pre>&lt;ANY infinite-scroll='{expression}'
     [infinite-scroll-distance='{number}']
     [infinite-scroll-disabled='{boolean}']
     [infinite-scroll-immediate-check='{boolean}']
     [infinite-scroll-listen-for-event='{string}']>
&lt;/ANY></pre></div>

    <h5>Parameters</h5>
    <ul class='parameters'>
      <li><code>infinite-scroll - {expression}</code> - Expression to evaluate (usually a function call) when the bottom of the element approaches the bottom of the browser window.</li>
      <li><code>infinite-scroll-distance <em>(optional)</em> - {number}</code> - A number representing how close the bottom of the element must be to the bottom of the browser window before the expression specified by <code>infinite-scroll</code> is triggered. Measured in multiples of the window height; for example, if the browser window is 1000 pixels tall and <code>infinite-scroll-distance</code> is set to <code>2</code>, the infinite scroll expression will be evaluated when the bottom of the element is within 2000 pixels of the bottom of the browser window. Defaults to <code>0</code> (e.g. the expression will be evaluated when the bottom of the element crosses the bottom of the browser window).</li>
      <li><code>infinite-scroll-disabled <em>(optional)</em> - {boolean}</code> - A boolean expression that, when <code>true</code>, indicates that the infininite scroll expression should not be evaluated even if all other conditions are met. This is usually used to throttle or pause the infinite scroll, for example when data is loading via Ajax. If a scroll event triggers the directive but this attribute prevents the expression evaluation, the event will be handled instead immediately after this attribute again evaluates to <code>false</code>.</li>
      <li><code>infinite-scroll-immediate-check <em>(optional)</em> - {boolean}</code> - A boolean expression that indicates that the directive should check immediately to see if a scroll event <em>would</em> trigger an evaluation of the infinite scroll expression even if a scroll event does not occur. Useful if it's possible that the content inside the directive's element is not tall enough to fill up the entire browser window's height. Defaults to <code>true</code>.</li>
      <li><code>infinite-scroll-listen-for-event <em>(optional)</em> - {string}</code> - The name of an event that, when received, will cause the scroll position check to be re-run. This is useful if you need to manually trigger the scroll handler, for instance if your items have been filtered or modified without altering the collection.</li>
    </ul>

    <h4>Loading the Module</h4>
    <p>The <code>infiniteScroll</code> directive lives inside the <code>infinite-scroll</code> module; to get access to it, ensure that your application's own module includes <code>infinite-scroll</code> as a dependency (in addition to any other dependencies):</p>

    <pre class='panel demo radius'>
var myApp = angular.module('myApp', ['infinite-scroll']);</pre>

    <h4>Throttling scroll events</h4>
    <p>Scroll events can be triggered very frequently, which can hurt performance and make scrolling appear jerky. To mitigate this, <code>infiniteScroll</code> can be configured to process scroll events a maximum of once every <code>x</code> milliseconds:</p>

    <pre class='panel demo radius'>
// you might call this after your module initalization
angular.module('infinite-scroll').value('THROTTLE_MILLISECONDS', 250)
    </pre>

    <h4>Triggering the scroll handler manually</h4>
    <p>If your items can change their height or be hidden — for instance in a filtered list — it is possible for your list to get shorter and require repopulating without the user triggering a scroll event. In this case, you can use the infinite-scroll-listen-for-event attribute. Later, when you need to trigger the scroll check, fire the corresponding event. For example:</p>

    <pre class='panel demo radius'>
&lt;div infinite-scroll="addMoreItems()" infinite-scroll-listen-for-event="list:filtered"&gt;
  [...]
&lt;/div&gt;</pre>

    <p>And then, when you need to trigger the check, for instance in your controller:</p>

    <pre class='panel demo radius'>$scope.$emit('list:filtered')</pre>

    <h4>Typical Usage</h4>
    <p>Typically, you will use the <code>infiniteScroll</code> directive on an element that contains another element that uses <code>ngRepeat</code> to show a series of elements based on an array (or object); the expression you pass in to the <code>infinite-scroll</code> attribute will generally add additional elements to the array, expanding the <code>ngRepeat</code>.</p>

    <pre ng-non-bindable class='panel demo radius'>
&lt;div infinite-scroll="addMoreItems()">
  &lt;div ng-repeat="item in items">Item number {{$index}}: {{$item}}&lt;/div>
&lt;/div></pre>
    <p>For an example of how you can implement this pattern, see <a href='demos.html'>the demos</a>.</p>
  </div>
</div>


  <div class='row'>
    <div class='twelve columns'>
      <hr>
    </div>
  </div>

  <div class='row'>
    <div class='four columns footer'>
      <p>
        Copyright &copy; 2012 Brandon Tilley
      </p>
    </div>
    <div class='eight columns footer'>
      <ul class='inline-list footer-links'>
        <li><a href='index.html'>Home</a></li>
        <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
        <li><a href='demos.html'>Demos</a></li>
        <li><a href='documentation.html'>Documentation</a></li>
        <li><a href='faq.html'>FAQ</a></li>
        <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
      </ul>
    </div>
  </div>

  <div id='download-modal' class='reveal-modal medium' ng-controller='DownloadsController'>
    <a class="close-reveal-modal">&#215;</a>

    <dl class='tabs'>
      <dd class='active'><a href='#download'>Download Source</a></dd>
      <dd><a href='#bower'>Install with Bower</a></dd>
    </dl>

    <ul class='tabs-content'>
      <li id='bowerTab'>
        <h1>Install with Bower</h1>

        <div class='row'>
          <div class='twelve columns' ng-hide="selectedVersion == 'master'">
            <p>If you use
            <a href='http://twitter.github.com/bower/'>Bower</a> to manage your
            client-side packages, you can use it to install ngInfiniteScroll.
            To install, simply run:
            </p>
            <pre>bower install ngInfiniteScroll#{{selectedVersion}}</pre>
          </div>
          <div class='twelve columns' ng-show="selectedVersion == 'master'">
            <p>Bower cannot be used to install ngInfiniteScroll for the development head;
              please select another version to install with Bower.</p>
          </div>
        </div>
      </li>

      <li class='active' id='downloadTab'>
        <h1>Download <small> {{selectedVersion}}</small> <small ng-show='versionIsUnstable(selectedVersion)'>(unstable)</small></h1>

        <div class='row'>
          <div class='six columns'>
            <h3 class='subheader'>Production</h3>
            <div ng-hide='selectedVersion == "master"'>
              <p class='subtext'>Download the finished JavaScript, minified or unminified</p>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.min.js' class='button radius'>minified</a>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.js' class='button radius secondary'>unminified</a>
            </div>
            <div ng-show='selectedVersion == "master"'>
              <p class='subtext'>Production assets are not available for download for the development head</p>
            </div>
          </div>

          <div class='six columns'>
            <h3 class='subheader'>Development</h3>
            <p class='subtext'>Download the entire development source for {{selectedVersion}}</p>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.tar.gz' class='button radius'>.tar.gz</a>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.zip' class='button radius secondary'>.zip</a>
            <p class='github'>or <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/tree/{{selectedVersion}}'>view {{selectedVersion}} on GitHub</a></p>
          </div>
        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='twelve columns'>
        <p>
          Select a different version:
          <select class='version-select' ng-model='selectedVersion'
                  ng-options='versionLabel(version) for version in versions'></select>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
