<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>ngInfiniteScroll - About - Infinite Scrolling for AngularJS</title>

  <link href="stylesheets/application.css?1375125404" media="screen" rel="stylesheet" type="text/css" />
  <script src="javascripts/application.js?1375125400" type="text/javascript"></script>
</head>
<body ng-app='infiniteScrollSite'>

  <div class='contain-to-grid'>
    <nav class='top-bar'>
      <ul>
        <li class='name'><h1><a href='index.html'><img src="images/tiny-inverted.png?1361649002" /> ngInfiniteScroll</a></h1></li>
        <li class='toggle-topbar'><a href='#'></a></li>
      </ul>
      <section>
        <ul class='left'>
          <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
          <li><a href='demos.html'>Demos</a></li>
          <li><a href='documentation.html'>Documentation</a></li>
          <li><a href='faq.html'>FAQ</a></li>
        </ul>
        <ul class='right'>
          <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class='row'>
  <div class='twelve columns'>
    <h3>FAQ</h3>

    <h4>Who made ngInfiniteScroll</h4>
    <p>ngInfiniteScroll was developed internally by <a href='https://github.com/BinaryMuse'>Brandon Tilley</a> for use at <a href='http://learni.st/'>Learnist</a>. It currently drives functionality on several pages, including the home page.</p>

    <h4>How do I get help?</h4>
    <p>If you'd like to report an issue, please do so at the <a href='https://github.com/BinaryMuse/ngInfiniteScroll/issues'>GitHub issue tracker</a>. <a href='http://stackoverflow.com/'>StackOverflow</a> is an excellent place to ask for help if you get stuck; creating a working example of your problem using <a href='http://jsfiddle.net/'>JsFiddle</a> or <a href='http://plnkr.co/'>Plunker</a> is encouraged.</p>

    <h4>Why do I receive the error message "Object [object Object] has no method 'on'"?</h4>
    <p>Although AngularJS ships with a stripped-down version of jQuery (called jqLite), it does not contain the necessary functionality for ngInfiniteScroll to work. For this reason, you must include jQuery to use ngInfiniteScroll. Remember to put the script tag for jQuery <em>before</em> the script tag for AngularJS.</p>

    <h4>Why is ngInfiniteScroll triggering my expression on every single scroll event?</h4>
    <p>The infiniteScroll directive uses the height of the element that it's attached to in order to determine how close to the bottom of the window it is. In some cases, the browser can report a height of <code>0</code>, which causes this behavior. Usually, this is due to a container element that only contains floated children. The simplest way to fix this problem is to add a "spacer" element to the bottom of the container (something like <code>&lt;div style='clear: both;'>&lt;/div></code>); see <a href='http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing'>this StackOverflow question and its associated answers</a> for more details.</p>

    <h4>Why is my performance so poor when using ngInfiniteScroll?</h4>
    <p>There are a couple of things to check if you're getting poor performance when using the infiniteScroll directive.</p>
    <p><strong>Ensure that you're not calling your infinite scroll expression too often.</strong> Depending on logic you're performing inside the expression or function that ngInfiniteScroll executes for you, you may need to temporarily disable scroll events from triggering the expression. You can do this using the <code>infinite-scroll-disabled</code> attribute. See the <a href='documentation.html'>documentation</a> for more information, and see the <a href='demo_async.html'>remote data demo</a> to see this technique in action.</p>
    <p><strong>Ensure you're not repeating the infinite scroll directive.</strong> Most often, you will use the <code>ngRepeat</code> directive inside the infinite scroll directive to achieve the correct results:</p>

<div ng-non-bindable>
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">infinite-scroll=</span><span class="s">&#39;pagerFunction()&#39;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">ng-repeat=</span><span class="s">&#39;item in items&#39;</span><span class="nt">&gt;</span>{{item}}<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div></div>

    <p>A common mistake is to put the ng-repeat on the infinite scroll element itself:</p>

<div ng-non-bindable>
<div class="highlight"><pre><span class="c">&lt;!-- this is wrong! --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">infinite-scroll=</span><span class="s">&#39;pagerFunction()&#39;</span> <span class="na">ng-repeat=</span><span class="s">&#39;item in items&#39;</span><span class="nt">&gt;</span>
  {{item}}
<span class="nt">&lt;/div&gt;</span>
</pre></div></div>

    <p>This is incorrect and will generally result in your browser being very unhappy.</p>
  </div>
</div>


  <div class='row'>
    <div class='twelve columns'>
      <hr>
    </div>
  </div>

  <div class='row'>
    <div class='four columns footer'>
      <p>
        Copyright &copy; 2012 Brandon Tilley
      </p>
    </div>
    <div class='eight columns footer'>
      <ul class='inline-list footer-links'>
        <li><a href='index.html'>Home</a></li>
        <li><a href='#download' data-show-downloads='download-modal'>Download</a></li>
        <li><a href='demos.html'>Demos</a></li>
        <li><a href='documentation.html'>Documentation</a></li>
        <li><a href='faq.html'>FAQ</a></li>
        <li><a href='https://github.com/BinaryMuse/ngInfiniteScroll'>View on GitHub</a></li>
      </ul>
    </div>
  </div>

  <div id='download-modal' class='reveal-modal medium' ng-controller='DownloadsController'>
    <a class="close-reveal-modal">&#215;</a>

    <dl class='tabs'>
      <dd class='active'><a href='#download'>Download Source</a></dd>
      <dd><a href='#bower'>Install with Bower</a></dd>
    </dl>

    <ul class='tabs-content'>
      <li id='bowerTab'>
        <h1>Install with Bower</h1>

        <div class='row'>
          <div class='twelve columns' ng-hide="selectedVersion == 'master'">
            <p>If you use
            <a href='http://twitter.github.com/bower/'>Bower</a> to manage your
            client-side packages, you can use it to install ngInfiniteScroll.
            To install, simply run:
            </p>
            <pre>bower install ngInfiniteScroll#{{selectedVersion}}</pre>
          </div>
          <div class='twelve columns' ng-show="selectedVersion == 'master'">
            <p>Bower cannot be used to install ngInfiniteScroll for the development head;
              please select another version to install with Bower.</p>
          </div>
        </div>
      </li>

      <li class='active' id='downloadTab'>
        <h1>Download <small> {{selectedVersion}}</small> <small ng-show='versionIsUnstable(selectedVersion)'>(unstable)</small></h1>

        <div class='row'>
          <div class='six columns'>
            <h3 class='subheader'>Production</h3>
            <div ng-hide='selectedVersion == "master"'>
              <p class='subtext'>Download the finished JavaScript, minified or unminified</p>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.min.js' class='button radius'>minified</a>
              <a ng-href='https://raw.github.com/BinaryMuse/ngInfiniteScroll/{{selectedVersion}}/build/ng-infinite-scroll.js' class='button radius secondary'>unminified</a>
            </div>
            <div ng-show='selectedVersion == "master"'>
              <p class='subtext'>Production assets are not available for download for the development head</p>
            </div>
          </div>

          <div class='six columns'>
            <h3 class='subheader'>Development</h3>
            <p class='subtext'>Download the entire development source for {{selectedVersion}}</p>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.tar.gz' class='button radius'>.tar.gz</a>
            <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/archive/{{selectedVersion}}.zip' class='button radius secondary'>.zip</a>
            <p class='github'>or <a ng-href='https://github.com/BinaryMuse/ngInfiniteScroll/tree/{{selectedVersion}}'>view {{selectedVersion}} on GitHub</a></p>
          </div>
        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='twelve columns'>
        <p>
          Select a different version:
          <select class='version-select' ng-model='selectedVersion'
                  ng-options='versionLabel(version) for version in versions'></select>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
