@import 'site';

body {
  margin-bottom: 50px;
}

.no-marg-bottom {
  margin-bottom: 0px;
}

.bottom {
  vertical-align: bottom;
}

button.download-button {
  font-size: ms(3);
}

.footer {
  ul.footer-links {
    float: right;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;

    ul.footer-links {
      display: inline-block;
      float: none;

      li {
        float: none;
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #download-modal {
    .subtext {
      min-height: 50px;
    }
    a.button {
      width: 49%;
    }
    .github {
      text-align: right;
    }
  }
}
